In [15]:
import pandas as pd

In [74]:
title = pd.read_csv('D:/data_analytics/cast.csv')
title.head()

,title,year,name,type,character,n
0,Closet Monster,2015.0,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015.0,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015.0,$hutter,actor,1988 Opera House Patron,NaN

### How many movies are listed in the titles dataframe?

In [75]:

total_entries = title.shape[0]
print("Total number of movies:", total_entries)

Total number of movies: 2159949

### What are the earliest two films listed in the titles dataframe?

In [77]:
earliest_films = title.sort_values(by='year').head(2)
print(earliest_films )

             title    year               name   type  \
555929  Miss Jerry  1894.0     Chauncey Depew  actor
464860  Miss Jerry  1894.0  William Courtenay  actor

                                                character   n
555929  Himself - the Director of the New York Central... NaN
464860                                       Mr. Hamilton NaN

### How many movies have the title "Hamlet"?

In [78]:
hamlet_count = titles[titles['title'] == 'Hamlet'].shape[0]
print("Number of movies titled 'Hamlet':", hamlet_count)

Number of movies titled 'Hamlet': 218

### How many movies are titled "North by Northwest"?

In [79]:
count_nxn = titles[titles['title'] == 'North by Northwest'].shape[0]
print("Number of movies titled 'North by Northwest':", count_nxn)

Number of movies titled 'North by Northwest': 81

### When was the first movie titled "Hamlet" made?

In [80]:
hamlet_movies = titles[titles['title'].str.lower() == 'hamlet']
first_hamlet = hamlet_movies.sort_values(by='year').head(1)
print(first_hamlet[['title', 'year']])

          title    year
1545289  Hamlet  1910.0

### List all of the "Treasure Island" movies from earliest to most recent.

In [82]:
treasure_island_movies = titles[titles['title'].str.lower() == 'treasure island']
sorted_treasure_island = treasure_island_movies.sort_values(by='year')
print(sorted_treasure_island[['title', 'year']])

                   title    year
339256   Treasure Island  1918.0
1291387  Treasure Island  1918.0
1473574  Treasure Island  1918.0
1417884  Treasure Island  1918.0
1715014  Treasure Island  1918.0
...                  ...     ...
969021   Treasure Island  1999.0
1797264  Treasure Island  1999.0
1869989  Treasure Island  1999.0
1975279  Treasure Island  1999.0
1959741  Treasure Island  1999.0

[154 rows x 2 columns]

### How many movies were made in the year 1950?

In [83]:


# Filter movies released in 1950
movies_1950 = titles[titles['year'] == 1950]

# Count them
count_1950 = movies_1950.shape[0]

# Show the result
print("Number of movies made in 1950:", count_1950)

Number of movies made in 1950: 14653

### How many movies were made in the year 1960?

In [62]:
# Filter movies released in 1950
movies_1960 = titles[titles['year'] == 1960]

# Count them
count_1960 = movies_1960.shape[0]

# Show the result
print("Number of movies made in 1960:", count_1960)

Number of movies made in 1960: 1496

### How many movies were made from 1950 through 1959?

In [64]:
# Filter movies released between 1950 and 1959 (inclusive)
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

# Count them
count_1950s = movies_1950s.shape[0]

# Display the result
print("Number of movies made from 1950 through 1959:", count_1950s)

Number of movies made from 1950 through 1959: 12656

### In what years has a movie titled "Batman" been released?

In [115]:
# Filter for rows where the title is exactly "Batman"
batman_movies = title[title['title'].str.lower() == 'batman']

# Get unique years, sorted
batman_years = sorted(batman_movies['year'].dropna().unique())

# Display the result
print("Years when 'Batman' was released:", batman_years)

Years when 'Batman' was released: [np.float64(1943.0), np.float64(1989.0)]

### How many roles were there in the movie "Inception"?

In [84]:
inception_roles = titles[titles['title'].str.lower() == 'inception']
num_roles = inception_roles.shape[0]
print("Number of roles in 'Inception':", num_roles)

Number of roles in 'Inception': 52

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [85]:
# Filter for roles in the movie "Inception"
inception_roles = cast[cast['title'].str.lower() == 'inception']

# Count how many roles have no 'n' value (i.e., missing or NaN)
unranked_roles = inception_roles['n'].isna().sum()

# Display the result
print("Number of roles in 'Inception' not ranked by 'n':", unranked_roles)

Number of roles in 'Inception' not ranked by 'n': 21

### But how many roles in the movie "Inception" did receive an "n" value?

In [92]:
# Filter for roles in "Inception"
inception_roles = title[title['title'].str.lower() == 'inception']

# Count how many roles have a non-null 'n' value
ranked_roles = inception_roles['n'].notna().sum()

# Display the result
print("Number of ranked roles in 'Inception':", ranked_roles)

Number of ranked roles in 'Inception': 31

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [89]:

nbnw_cast = title[title['title'].str.lower() == 'north by northwest']

# Keep only roles with a numeric 'n' value
nbnw_ranked = nbnw_cast[nbnw_cast['n'].notna()]

# Sort by 'n' value
nbnw_sorted = nbnw_ranked.sort_values(by='n')

# Display the cast names and their 'n' values
print(nbnw_sorted[['title', 'name', 'n']])

                      title               name     n
840374   North by Northwest         Cary Grant   1.0
1404704  North by Northwest        James Mason   3.0
343701   North by Northwest     Leo G. Carroll   5.0
1634552  North by Northwest        Philip Ober   7.0
1229083  North by Northwest      Martin Landau   8.0
1746383  North by Northwest       Edward Platt  10.0
642085   North by Northwest  Robert Ellenstein  11.0
447893   North by Northwest    Philip Coolidge  13.0
1454363  North by Northwest      Patrick McVey  14.0
198496   North by Northwest       Edward Binns  15.0
1334726  North by Northwest          Ken Lynch  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [93]:
# Filter for roles in the 1972 film "Sleuth"
sleuth_cast = title[(title['title'].str.lower() == 'sleuth') & (title['year'] == 1972)]

# Keep only roles with a valid 'n' value and sort by it
sleuth_ranked = sleuth_cast[sleuth_cast['n'].notna()].sort_values(by='n')

# Display the cast names and their 'n' values
print(sleuth_ranked[['name', 'n']])

                       name    n
1644328    Laurence Olivier  1.0
314691        Michael Caine  2.0
360365       Alec Cawthorne  3.0
1412647  John (II) Matthews  4.0
1396572        Teddy Martin  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [94]:
# Filter for roles in the 2007 film "Sleuth"
sleuth_2007 = title[(title['title'].str.lower() == 'sleuth') & (title['year'] == 2007)]

# Keep only roles with a valid 'n' value and sort by it
sleuth_2007_ranked = sleuth_2007[sleuth_2007['n'].notna()].sort_values(by='n')

# Display the cast names and their 'n' values
print(sleuth_2007_ranked[['name', 'n']])

                  name    n
314692   Michael Caine  1.0
1246855       Jude Law  2.0
1741124  Harold Pinter  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [95]:
# Filter for roles in the 1921 silent film "Hamlet"
hamlet_1921 = title[(title['title'].str.lower() == 'hamlet') & (title['year'] == 1921)]

# Count how many roles are listed
num_roles = hamlet_1921.shape[0]

# Display the result
print("Number of roles in the 1921 silent Hamlet:", num_roles)

Number of roles in the 1921 silent Hamlet: 5

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [96]:
# Filter for roles in the 1996 version of "Hamlet"
hamlet_1996 = title[(title['title'].str.lower() == 'hamlet') & (title['year'] == 1996)]

# Count how many roles are listed
num_roles = hamlet_1996.shape[0]

# Display the result
print("Number of roles in Hamlet (1996):", num_roles)

Number of roles in Hamlet (1996): 38

### How many "Hamlet" roles have been listed in all film credits through history?

In [102]:
# Filter for all rows where the title is "Hamlet"
hamlet_roles = title[title['title'].str.lower() == 'hamlet']

# Count how many roles are listed across all years
num_hamlet_roles = hamlet_roles.shape[0]

# Display the result
print("Total number of Hamlet roles across all films:", num_hamlet_roles)

Total number of Hamlet roles across all films: 218

### How many people have played an "Ophelia"?

In [103]:
# Filter for rows where the character name is "Ophelia"
ophelia_roles = title[title['character'].str.lower() == 'ophelia']

# Count how many unique performers played Ophelia
num_ophelias = ophelia_roles['name'].nunique()

# Display the result
print("Number of people who have played Ophelia:", num_ophelias)

Number of people who have played Ophelia: 7

### How many people have played a role called "The Dude"?

In [104]:
# Filter for rows where the character name is "The Dude"
dude_roles = title[title['character'].str.lower() == 'the dude']

# Count how many unique performers played "The Dude"
num_dudes = dude_roles['name'].nunique()

# Display the result
print("Number of people who have played 'The Dude':", num_dudes)

Number of people who have played 'The Dude': 16

### How many people have played a role called "The Stranger"?

In [107]:
# Filter for rows where the character name is "The Stranger"
stranger_roles = title[title['character'].str.lower() == 'the stranger']

# Count how many unique performers played "The Stranger"
num_strangers = stranger_roles['name'].nunique()

# Display the result
print("Number of people who have played 'The Stranger':", num_strangers)

Number of people who have played 'The Stranger': 183

### How many roles has Sidney Poitier played throughout his career?

In [108]:
# Filter for rows where the performer is Sidney Poitier
poitier_roles = title[title['name'].str.lower() == 'sidney poitier']

# Count how many roles he played
num_roles_poitier = poitier_roles.shape[0]

# Display the result
print("Number of roles played by Sidney Poitier:", num_roles_poitier)

Number of roles played by Sidney Poitier: 43

### How many roles has Judi Dench played?

In [109]:
# Filter for rows where the performer is Judi Dench
dench_roles = title[title['name'].str.lower() == 'judi dench']

# Count how many roles she played
num_roles_dench = dench_roles.shape[0]

# Display the result
print("Number of roles played by Judi Dench:", num_roles_dench)

Number of roles played by Judi Dench: 0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [110]:
# Filter for Cary Grant's roles in the 1940s with n=2
grant_supporting_40s = title[
    (title['name'].str.lower() == 'cary grant') &
    (title['year'] >= 1940) &
    (title['year'] <= 1949) &
    (title['n'] == 2)
]

# Sort by year
grant_supporting_40s_sorted = grant_supporting_40s.sort_values(by='year')

# Display relevant columns
print(grant_supporting_40s_sorted[['title', 'year', 'character']])

                   title    year    character
840371  My Favorite Wife  1940.0         Nick
840381    Penny Serenade  1941.0  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [111]:
# Filter for Cary Grant's leading roles in the 1940s
grant_leading_40s = title[
    (title['name'].str.lower() == 'cary grant') &
    (title['year'] >= 1940) &
    (title['year'] <= 1949) &
    (title['n'] == 1)
]

# Sort by year
grant_leading_40s_sorted = grant_leading_40s.sort_values(by='year')

# Display relevant columns
print(grant_leading_40s_sorted[['title', 'year', 'character']])

                                       title    year              character
840353                       His Girl Friday  1940.0           Walter Burns
840397               The Howards of Virginia  1940.0            Matt Howard
840399                The Philadelphia Story  1940.0     C. K. Dexter Haven
840386                             Suspicion  1941.0                Johnnie
840377                 Once Upon a Honeymoon  1942.0  Patrick 'Pat' O'Toole
840401                  The Talk of the Town  1942.0           Leopold Dilg
840369                             Mr. Lucky  1943.0              Joe Adams
840344                     Destination Tokyo  1943.0          Capt. Cassidy
840370                             Mr. Lucky  1943.0        Joe Bascopolous
840373             None But the Lonely Heart  1944.0             Ernie Mott
840336                  Arsenic and Old Lace  1944.0      Mortimer Brewster
840378                      Once Upon a Time  1944.0            Jerry Flynn
840372                         Night and Day  1946.0            Cole Porter
840375                             Notorious  1946.0                 Devlin
840394                     The Bishop's Wife  1947.0                 Dudley
840393      The Bachelor and the Bobby-Soxer  1947.0            Dick Nugent
840348          Every Girl Should Be Married  1948.0      Dr. Madison Brown
840368  Mr. Blandings Builds His Dream House  1948.0          Jim Blandings
840357                I Was a Male War Bride  1949.0  Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [100]:
actor_roles_1950s = title[
    (title['year'] >= 1950) &
    (title['year'] <= 1959) &
    (title['type'].str.lower() == 'actor')
]
print("Roles for actors in the 1950s:", actor_roles_1950s.shape[0])

Roles for actors in the 1950s: 137408

### How many roles were available for actresses in the 1950s?

In [101]:
actoress_roles_1950s = title[
    (title['year'] >= 1950) &
    (title['year'] <= 1959) &
    (title['type'].str.lower() == 'actoress')
]
print("Roles for actoress in the 1950s:", actoress_roles_1950s.shape[0])

Roles for actoress in the 1950s: 0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [112]:
# Filter for leading roles (n = 1) from any year up to 1980
leading_roles = title[
    (title['n'] == 1) &
    (title['year'] <= 1980)
]

# Count how many roles are listed
num_leading_roles = leading_roles.shape[0]

# Display the result
print("Number of leading roles through 1980:", num_leading_roles)

Number of leading roles through 1980: 38187

### How many non-leading roles were available through from the beginning of film history through 1980?

In [113]:
# Filter for non-leading roles from any year up to 1980
non_leading_roles = title[
    (title['year'] <= 1980) &
    (title['n'] != 1)
]

# Count how many roles are listed
num_non_leading_roles = non_leading_roles.shape[0]

# Display the result
print("Number of non-leading roles through 1980:", num_non_leading_roles)

Number of non-leading roles through 1980: 703017


### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [114]:
# Filter for roles through 1980 where 'n' is missing (NaN)
unranked_roles = title[
    (title['year'] <= 1980) &
    (title['n'].isna())
]

# Count how many roles are listed
num_unranked_roles = unranked_roles.shape[0]

# Display the result
print("Number of unranked roles through 1980:", num_unranked_roles)

Number of unranked roles through 1980: 299849