# Ex2 - Data Understading



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset

In [2]:
chipo = pd.read_csv('D:/data_analytics/chipotle_Ex2.csv')
chipo.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('D:/data_analytics/chipotle_Ex2.csv')
chipo.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [5]:
chipo = pd.read_csv('D:/data_analytics/chipotle_Ex2.csv')
chipo.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:

num_observations = chipo.shape[0]
print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 4622

### Step 6. What is the number of columns in the dataset?

In [10]:
num_columns = chipo.shape[1]
print("number of columns",  num_columns)

number of columns 6

### Step 7. Print the name of all the columns.

In [13]:
print(chipo.columns)

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [17]:
# Group by item_name and sum the quantity
item_counts = chipo.groupby('item_name')['quantity'].sum()
# Sort in descending order
most_ordered = item_counts.sort_values(ascending=False)

# Display the top item
print("Most-ordered item:")
print(most_ordered.head(1))

Most-ordered item:
item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [18]:
# Group by item_name and sum the quantity
item_counts = chipo.groupby('item_name')['quantity'].sum()

# Find the most-ordered item and its total quantity
most_ordered_item = item_counts.idxmax()
most_ordered_quantity = item_counts.max()

# Display the result
print(f"The most-ordered item is '{most_ordered_item}' with {most_ordered_quantity} items ordered.")

The most-ordered item is 'Chicken Bowl' with 761 items ordered.

### Step 11. What was the most ordered item in the choice_description column?

In [19]:
item_counts = chipo.groupby('choice_description')['quantity'].sum()

# Find the most-ordered item and its total quantity
most_ordered_item = item_counts.idxmax()
most_ordered_quantity = item_counts.max()

# Display the result
print(f"The most-ordered item is '{most_ordered_item}' with {most_ordered_quantity} items ordered.")

The most-ordered item is '[Diet Coke]' with 159 items ordered.

### Step 12. How many items were orderd in total?

In [5]:
total_order = chipo['quantity'].sum()
print("Total items ordered:", total_order)

Total items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [6]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [7]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [8]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [9]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Total revenue:", revenue)

Total revenue: 39237.02

### Step 15. How many orders were made in the period?

In [10]:
total_orders = chipo['order_id'].nunique()
print("Total number of orders:", total_orders)

Total number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [11]:
# Solution 1

# Total revenue
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()

# Total number of orders
total_orders = chipo['order_id'].nunique()

# Average revenue per order
average_revenue = total_revenue / total_orders
print("Average revenue per order: ${:.2f}".format(average_revenue))

Average revenue per order: $21.39

### Step 17. How many different items are sold?

In [12]:
unique_items = chipo['item_name'].nunique()
print("Number of different items sold:", unique_items)

Number of different items sold: 50